.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
  
  .bg-container {
    display: flex;
    width: calc(100% * 14); /* Adjust this if you have a different number of images */
    animation: slide 40s infinite; /* Adjust the total duration for sliding */
  }
  
  .bg-image {
    width: 100vw; /* Each image takes full viewport width */
    height: 100vh; /* Each image takes full viewport height */
    background-size: cover;
    background-position: center;
  }
  
  /* Keyframe animation for sliding */
  @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  